<div class="content main" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">

    {% if page.cover %}
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    {% endif %}

    <div id="info-container">
      <h1 id="title">Project Nec<span style="color: #600000;">X</span></h1>
      <h2 id="subtitle">Enabling Gesture Control Using Neck</h2>
      <span id="team">by Team Horseshoe</a>
    </div>
  </div>

  <div class="post">
    <div class="video">    
      <iframe src="//player.vimeo.com/video/98090453" width="734" height="430" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </div>
  <div class="colophon">
    <p>
      <span id="pub-date"></span> <span class="separator">&bull;</span>
      <span id="social">Find us on <a href="https://github.com/horseshoe477">Github</a>!</span>
    </p>
  </div>
</div>
</div>
